# the VNC port for the VM's console.
id="1"

# How much RAM to associate with the VM.
# This is the max amount of RAM that it will use.
mem="500"

# Whether to enable ACPI support in the virtual BIOS, makes rkvmctl shutdown() available
# Default is to enable ACPI
# noacpi cannot be set if cpus > 1.
noacpi=""

# The number of virtual CPUs to assign to the VM.
# Stable values are 1-4.
# cpus must be set to 1 if noacpi is set.
cpus="1"

# If you dont like to use VNC and graphic set this to no
graphic="yes"

# Which mouse device to use
# Values:  mouse, tablet
# Default: tablet
mouse="tablet"

##NET (nic) setup 
# The network chipset to use in the VM.
# Values:  rtl1389, e1000
# Default: rtl8139
nic="e1000"

#Mac address for nic interface, must be unique
macaddress="DE:AD:BE:EF:01:07"

#Virtual lan to connect the interface to, default 0
vlan="0"

##NET (tap) setup
tap="tap"

#HW interface name whitin the virtual machnie. 
# Ifconfig will print out this name for the interface on phisycal machine
ifname="demo_eth0"

#Ifup script to setup the TAP interface
script="/etc/kvm/qemu-ifup"

# Which virtual block device to boot from
# Values:  a=floppy0, b=floppy1, c=disk0, d=disk1
# Default: c
boot="c"

#First hard disk
hda="/home/lib/kvm/gentoo/virtual-host-example_gentoo_4G_lvm_base.qcow2"

# hdc and cdrom must not used in same config
#Cd/DVD rom
cdrom="/home/linux/gentoo/install-amd64-minimal-20100318.iso"

#To deamonize the script on run. 1 or true is yes.
daemonize="1"

#Keyboard layout, only important if connection done through vnc. This way 
#one can set up preffered layout as deafult
keyboard="hu"

#Sound hardware to use
#soundhw="sb16"

# The Monitor port of the virtual machine
# Values: empty, 0-65535
# Empty value disables port statement
# If id is 0, port is calculated as port=4000+id of the machine
monitor_port=""

#Makes shutdown command avaiable by redirecting monitor
#Possible values: true, false
#Default: true
monitor_redirect="false"

#Display type, KEEP in mind sdl can only avialable if you run this script as root!
#Possible values: sdl,vnc,nographic
#Default: vnc
display="vnc"
